main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.alternating-content {
    display: flex;
    align-items: center;
    gap: 2rem; 
}

.alternating-content.reverse {
    flex-direction: row-reverse;
    width: 900px; /* Cambiar el tamaño de la imagen */
    height: auto; /* Mantener la relación de aspecto original */
    margin-top: 20px; /* Mover la imagen hacia abajo */
    margin-left: 150px; /* Mover la imagen hacia la derecha */

}

.alternating-content img {
    width: 50%;
    object-fit: cover;
}

.alternating-content h3, h4 {
    
    text-align: center;
    flex: 1;
    margin-bottom: 3rem;
    font-size: 50px;
}

.alternating-content h4 {
    
    font-size: 25px;
}

.alternating-content p {
    flex: 1;
    text-align: center;
    }

@media (max-width: 768px) {
    .alternating-content,
    .alternating-content.reverse {
        flex-direction: column;
    }

    .alternating-content img {
        width: 100%;
    }
}

.alternating-content.reverse button{
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border: 2px solid #007bff; /* Borde de 2px sólido azul */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espacio interior del botón */
    margin: 5px; /* Margen entre botones */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-weight: bold; /* Texto en negrita */
}

.alternating-content.reverse button:hover {
    background-color: #0056b3; 
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 50px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background: #fff;
}