* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body, header, main {
    background-color: #bdd6d2;
    margin: 1rem;
    min-width: 1000px;
    /* border: 3px green solid; */
}


#logo_marco {
    position: relative;
    overflow: hidden;
    top: 5px;
    max-width: 100%;
    height: auto;
    width: 4%;
}

header h1 {
    background-color: #e3e5d7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
    padding: 10px;
    border-radius: 35px;
    border: 2px;
    text-align: center;
}

a {
    background-color: rgb(127, 168, 255); 
    font-weight: bold;
    font-size: 12pt;
}

p {
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
}

li {
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
   

/* Media queries para hacer el sitio responsive */
@media screen and (max-width: 800px) {
    #logo_marco {
        width: 10%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

/************************************************************************************************/

.sumario {
    flex-grow: 1;
    flex-basis: 100%; 
    padding: 20px;
    margin: 20px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor article {
    flex: 1 1 calc(50% - 20px); /* Distribuye los artículos en 2 columnas y ajusta el ancho */
    margin: 10px;
    padding: 10px;
    border: solid grey;
    border-radius: 15px;
    text-align: center;
}

.contenedor article:hover {
    opacity: 1;
    background-color: #8ec6c9;
}

.enlace-sin-hipervinculo {
    text-decoration: none; /* Elimina la decoración de enlace */
    color: #000; /* Color del texto */
    cursor: default; /* Cambia el cursor a predeterminado para indicar que no es un enlace */
}

/************************************************************************************************/
.carrusel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* O ajusta la altura según sea necesario */
    margin-top: 50px;
    margin-bottom: 50px;
}
#carrusel_home {
    height: 300px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.carousel-caption h3 {
    color: white; /* Cambia el color del texto del título */
    font: bold;
    text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc; /* Borde de letra gris */
}

.carousel-caption p {
    color: #fff; /* Cambia el color del texto del párrafo */
}

.carousel-item {
    width: 100%; /* Ancho del contenedor al 100% */
    max-height: 500px; /* Altura máxima del contenedor */
    overflow: hidden; /* Oculta el contenido que excede la altura máxima */
}

.carousel-item img {
    width: auto;
    height: 350px;
}

.carousel-control-prev, .carousel-control-next {
    background: transparent; /* Fondo transparente para las flechas */
    border: none; /* Borra el borde de las flechas */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: transparent; /* Color de fondo transparente para las flechas */
    color: #000; /* Color de las flechas (negro en este caso) */
    border: none; /* Borra el borde de las flechas */
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente al pasar el cursor */
}
/************************************************************************************************/
