footer {
    background-color: #bdd6d2;
    margin: 1rem;
    min-width: 1000px;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center; /* Centra el contenido del footer horizontalmente */
    position: relative; /* Establece posición relativa para que los iconos mantengan su posición */
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

footer p {
    padding: 25px;
    margin: 0; /* Elimina el margen del párrafo para centrarlo correctamente */
    background: #eee;
    border-radius: 35px;
    margin-right: 5px; /* Margen a la derecha para separar los iconos */
    flex-grow: 1; /* El párrafo ocupa el espacio disponible */
}

/* footer .redes {
    font-size: 2rem;
    display: inline-block;
    margin-right: 10px;
} */

footer .redes {
    position: absolute;
    top: 50%;
    right: 100px; /* Ajusta la posición de los iconos a la derecha */
    transform: translateY(-50%);
}

footer .redes i {
    color: black;
    transition: 1.5s;
    width: 30px;
    background-color: #bdd6d2;
    border: solid;
    font-size: x-large;
}

footer .redes i:hover {
    /*color: rgb(165, 241, 121);*/
    color: #ff0000;
}

/* Media queries para ajustes responsivos */
@media screen and (max-width: 768px) {
    footer p {
        font-size: 10pt; /* Ajusta el tamaño del texto para pantallas más pequeñas */
    }

    footer .redes {
        font-size: 1.5rem; /* Ajusta el tamaño de los iconos para pantallas más pequeñas */
    }
}