* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body, header, main, footer {
    background-color: #bdd6d2;
    margin: 1.5rem;
    min-width: 1100px;
    border: 3px green solid;
}

header nav img {
    margin-left: 10px;
    margin-top: 0px;
}

#logo_marco {
    position: relative;
    overflow: hidden;
    top: 5px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 10px;
}


.nav_actual {
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f6eddc;
    color: #153448;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    margin: 3px;
    border-color: gray;
    border-style: solid;
}

.nav {
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e3e5d7;
    color: #153448;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    margin: 3px;
    z-index: 999;
    box-shadow: 0 5px 5px #586875;
}

.nav:hover {
    opacity: 1;
    background-color: #a5c8ca;
}


footer {
    /*background-color: rgb(0, 162, 255);*/
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    min-height: 10vh;
}



header h1 {
    background-color: #e3e5d7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
    padding: 10px;
    border-radius: 35px;
    border: 2px;
    text-align: center;
}

a {
    background-color: rgb(127, 168, 255); 
    font-weight: bold;
    font-size: 12pt;
}

p {
    font-size: 16pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
}

li {
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


blockquote {
    background: #eee;
    border-radius: 20px;
    margin: 32px 0;
    }

blockquote p {
    padding: 30px;
    }

cite {
    margin: 16px 32px;
    }

blockquote p::before {
    content: '\201C';
    }

blockquote p::after {
    content: '\201D';
    }
        


/* PRUEBA DE ESPECIFICIDADES -> Pesos de menor a mayor: Universales; Etiquetas; Clase; Id; Estilos en linea */
.test {/* se llama con class dentro de la etiqueta */
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

#test2 {/* se llama con id dentro de la etiqueta */
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}