* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, header, main {
    background-color: #bdd6d2;
    margin: 1rem;
    min-width: 800px;
    /* border: 3px green solid; */
}

.botonera {
    display: flex;
    gap: 350px;
    justify-content: center;
    align-items: center;
    padding: 15px;

    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s,
    transform 0.3s;
}



/* .botonera:hover { 
    background-color: #e0e0e0; 
    transform: scale(1.1); 
} */

#formulario_STR, #formulario_STD {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a5c4bf;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
    color: #5e5858;
}

.form-group {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: left;
}


.button-group [type="submit"]{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button-group [type="submit"]:hover {
    background-color: #0056b3;
}
.reseña {
    display: flex;
    align-items: center;
    margin-right: 50px;
    text-align: center;
    margin-bottom: 20px;
    padding: 50px;
}

.reseña img {
    margin-right: 100px;
    margin-top: 5px;
    margin-left: 50px;
}

.reseña img {
    transform: translateX(-100%);
    transition: transform 1.5s;
}

.reseña img.active {
    transform: translateX(0);
}
.reseña {
    position: relative;
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para pantallas con ancho entre 601px y 1024px */
    .botonera button {
        font-size: 14px;
        padding: 10px;
    }

    .form-group {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1025px) {
    /* Estilos para pantallas con ancho mayor a 1025px */
    .botonera button {
        font-size: 16px;
        padding: 10px;
    }

    .form-group {
        font-size: 14px;
    }
}
