/* main {
    min-height: 70vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center; 
}  */

article .sumario {
    flex-grow: 1;
    flex-basis: 100%; 
    padding: 20px;
    margin: 20px;
}

article {
    background-color: cadetblue;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
}

article img {
    border-radius: 999px;
    width: 4cm;
}
article p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botonera {
    display: flex;
    gap: 10px; /* Añade un espacio entre los botones */
    justify-content: center;
    align-items: center;
    bottom: 15px; 
    right: 15px;
    padding: 15px;
}

#Contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}