* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, header, main {
    background-color: #bdd6d2;
    margin: 1rem;
    min-width: 800px;
    /* border: 3px green solid; */
}

.botonera {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
